.disabled-content > *:not(.analytics) {
  display: none;
}

.disabled-content {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
